In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\sebun takahashi\Desktop\Python tutorial\prophet\NoCode_2020-05-28-23-25.csv")

In [5]:
df.head()

,Unnamed: 0,ユーザー名,ユーザーid,RT数,いいね数,日時,本文
0,0,_NoCode,1266008783542800385,0,3,2020-05-28 23:09:49,Thanks to everyone that tuned in to our @ BAFT...
1,1,YaronMSK,1266008092443107328,0,1,2020-05-28 23:07:05,Thanks @ _NoCode and @ BAFTAGames for this ins...
2,2,cpdis,1266008019768274946,0,1,2020-05-28 23:06:47,@ webflow because I wanted to learn what this ...
3,3,nocodedevs,1266007968853655554,0,1,2020-05-28 23:06:35,Check out NoCodery ( @ nocodery)'s latest # no...
4,4,DanielDiggle,1266007553730916352,3,3,2020-05-28 23:04:56,Knights vs Goblins Assets starting to come tog...

In [6]:
df.tail()

,Unnamed: 0,ユーザー名,ユーザーid,RT数,いいね数,日時,本文
8781,8781,searchblox,1250455843872673796,4,3,2020-04-16 01:08:00,Setup full text # faceted # search for any # d...
8782,8782,meetKushan,1250455536769908737,0,1,2020-04-16 01:06:46,Building an Approval experience in Canvas Apps...
8783,8783,JensLennartsson,1250455136016584704,0,4,2020-04-16 01:05:11,If you could learn EVERYTHING about one # noco...
8784,8784,KNSG09,1250454131505901568,0,1,2020-04-16 01:01:11,Nocodeは知り合いに趣味で調べまくってる方がいるので可能性探るならご紹介します (ご興味...
8785,8785,apponboardinc,1250452616338984961,3,8,2020-04-16 00:55:10,Grow big and fast w/ # AppOnboardStudio! Check...

In [8]:
df.shape

(8786, 7)

In [11]:
df.iloc[0:5,[5,4]]

                    日時  いいね数
0  2020-05-28 23:09:49     3
1  2020-05-28 23:07:05     1
2  2020-05-28 23:06:47     1
3  2020-05-28 23:06:35     1
4  2020-05-28 23:04:56     3